@use 'base/variables' as v;
@use 'base/mixins' as m;


.lineup {
    background-color: v.$rosa;
    padding: 5rem 0;

    h3,
    p {
        text-align: center;
        color: v.$blanco;
    }

    .dia {
        text-transform: uppercase;
        margin: 5rem;
    }
}

.escenarios-contenedor {
    @include m.mediaQuery(v.$desktop) {
        @include m.gridRepeat(2, 5rem)
    }

    p {
        color: v.$negro;
    }
}

.escenario {
    padding-top: 5rem;
    margin-bottom: 5rem;

    @include m.mediaQuery(v.$desktop) {
        margin-bottom: 0;
    }

    .nombre-escenario {
        &::after {
            content: '';
            display: block;
            width: 20rem;
            height: 10rem;
            background-size: 15rem;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 2rem auto 0 auto;

        }
    }
}

.rock .nombre-escenario::after {
    background-image: url(../img/icono_edm.png);
}

.edm .nombre-escenario::after {
    background-image: url(../img/icono_rock.png);
}

.calendario {
    @include m.resetList;
    li {
        padding: 2.5rem;
        font-weight: bold;

        span {
            font-weight: 400;
        }
    }
}

.bg-amarillo {
    li:nth-child(odd) {
        background-color: darken(v.$amarillo, 10%);
    }
}

.bg-verde {
    li:nth-child(odd) {
        background-color: darken(v.$verde, 10%);
    }
}